<div>
    <h1>Listado de clientes</h1>
    <div class="text-right">
        <button mat-raised-button color="primary" (click)="abrirDialogo(0)">Nuevo</button>
    </div>
    <div class="mt-sm">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Cedula Column -->
            <ng-container matColumnDef="cedula">
                <mat-header-cell *matHeaderCellDef> C&eacute;dula </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cedula}} </mat-cell>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <!-- Apellido Column -->
            <ng-container matColumnDef="apellido">
                <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
            </ng-container>

            <!-- Telefono Column -->
            <ng-container matColumnDef="telefono">
                <mat-header-cell *matHeaderCellDef> Tel&eacute;fono </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
            </ng-container>

            <!-- Acción Column -->
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary"
                        matTooltip="Editar"
                        [matTooltipPosition]="'right'"
                        aria-label="Example icon button with a menu icon"
                        (click)="abrirDialogo(element.clienteId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>