<div class="mb-md">
    <h4 *ngIf="id == 0">Crear producto</h4>
    <h4 *ngIf="id > 0">Actualizar producto</h4>
</div>
<form [formGroup]="myForm">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Digite nombre" formControlName="nombre">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Valor Unitario</mat-label>
            <input matInput type="number" class="text-right" placeholder="0" formControlName="valorUnitario">
            <span matPrefix>$&nbsp;</span>
            <!-- <span matSuffix>.00</span> -->
        </mat-form-field>
    </p>

    <div class="text-center">
        <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="guardar()">Guardar</button>
        <button class="ml-sm" mat-raised-button (click)="cancelar()">Cancelar</button>
    </div>
</form>